@import "tailwindcss";

@theme{
  --color-primary : #f42c37 ;
  --color-light-text : #6b7280 ;
  --color-bg-gray : #dee1e5 ;
}

@layer utilities{
  .search{
    @apply w-0 px-3 py-1 rounded-full transition-all duration-300
           focus:outline-0 
  }
  .group:hover .search{
    @apply w-[300px] border border-gray-600
  }
}